:root {
  /* Design system */
  --background-color: rgb(126, 162, 197);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}


.layout-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 10px;
  border: solid 1px red;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header h1 {
  color: white;
}

footer {
  font-size: 12px;
  text-align: center;
}

.todo-item-container {
  display: flex;
  gap: 5px;
}



